
<h1>Stupid Coaching</h1>
<br>
<h2 class="question"><%= @question %>
<p>-You</p>
</h2>
<br>
<h2 class="answer"><%= @answer %>
<p>-Your coach</p>
</h2>
<br>
<a href="/ask">Ask a new question</a>
</body>
